html,body{
    width:100%;
    height:100%;
}
body{
    background: url('../png/index.jpg') no-repeat;
    background-size:100%;
}
/*上述代码为使背景图自适应*/
div.login {
    align-content:center;
    color:orangered;
}
/*文本居中*/
h2.login{
    text-align:center;
    color:yellow;
}